html{
	font-family: Didot, serif;
	font-size: 18px;
	font-weight: 100;
	line-height: 54px;
	margin-left: 15%;
	margin-right: 15%;
	scroll-behavior: smooth;
}

body {
  color: #333333;
  margin-top: 5rem;

}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

